body {
    font-family: Signika;
    background-color: #fff1f5;
}

.titles {
    color: rgb(238, 36, 97);
}

/* header */

.header-container {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    padding: 0.6em;
}

.header-title {
    font-weight: 600;
    height: 100px;
    margin: 0;
    flex-grow: 2;
    line-height: 0.8em;
    padding-top: 0.6em;
}

.ampersand {
    font-weight: 300;
    padding-right: 0.1em;
}

nav {
    list-style-type: none;
    width: 300px;
    padding-right: 20px;
    align-self: center;
}

nav ul {
    padding-inline-start: 0;
}

nav li {
    display: inline-block;
    padding: 5%;
    background-color: rgb(238, 36, 97);
    border-radius: 50%;
}

nav li a {
    color: white;
}

/* carousel */

.carousel-container{
    padding: 4% 2%;
    width: 100%;
    height: 100%;
}

.d-block {
    width: 100%;
    height: 100%;
}

/* Under carosel */
.second-title {
    font-weight: 700;
    color: #b8053b;
    font-size: xx-large;
}

.option {
    font-size: x-large;
    padding-bottom: 0;
    margin-block-end: 0;
}

.text-option {
    margin-block-start: 0;
    width: 80%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    padding-left: 5%;
}

.list-sweets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-sweets li i {
    color:  rgb(238, 36, 97);
    padding-right: 10px;
}

.button-see-more {
    color: white;
    background-color: rgb(238, 36, 97);
    border-radius: 25px;
    width: 120px;
    height: 36px;
}

.button-see-more i {
    color: white;
    padding-right: 5%;
}

.button-and-text {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.button-test {
    font-size: 24px;
    color: white;
    background-color: rgb(238, 36, 97);
    border-radius: 50px;
    width: 275px;
    height: 79px;
    padding: 10px;
}

.button-test i {
    color: rgb(238, 36, 97);
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.text-motivation {
    font-style: italic;
    padding-left: 20px;
    font-weight: 300;
    font-size: x-large;
    margin-block-start: 0.5em;
}

/* Footer */

.footer {
    background-color: rgb(238, 36, 97);
    color: white;
    display: flex;
    flex-direction: row;
}

.footer p {
    font-style: italic;
    flex-grow: 1;
}

.footer p a {
    color: white;
    text-decoration: underline;
}

.contact-us {
    align-self: flex-end;
    padding-right: 20px;
}

.contact-us li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.contact-us i {
    background-color: white;
    border-radius: 50%;
    color: rgb(238, 36, 97);
    padding: 10px;
}

/* Login modal */

.form-login {
    font-family: Signika;
}